.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-wrap{
  flex-grow: 1;
  position: relative
}

/* / */

.product-detail__img{
  max-width: 380px;
}
.product-detail__imgage-img{
  width: 100%;
}
.message--centerd{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
ul li{
  list-style: none;
}